<div id="content-sep"></div>
<footer>
  <div id="content-right">
    <div id="nav-sidebar" class="nav-border">
      <h3>Contact</h3>
      <ul>
        <li><a href="https://www.freelists.org/list/xlibre">Mailing list</a></li>
        <li><a href="https://t.me/x11dev">Telegram channel</a></li>
        <li><a href="https://matrix.to/#/%23xlibre:matrix.org">Matrix room (mirror of tg group)</a></li>
      </ul>
      <h3>Contribute</h3>
      <ul>
        <li><a href="https://github.com/X11Libre/xserver">Github</a></li>
      </ul>
    </div>
  </div>
</footer>
