<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="assets/img/XLibre-Logo.svg" width="50">
      <a class="navbar-brand" href="index.html">X11Libre X Server</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for item in site.data.navigation %}
          <li class="nav-item">
            <a href="{{ item.link }}" {% if page.url == item.page %}class="nav-link active"{% else %}class="nav-link"{% endif %}>
              {{ item.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>